.dashboardSideBarMain{
    position: fixed; /* Ekrana sabitler */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100vh;
    padding: 15px;
    
    z-index: 999; /* diğer içeriklerin altında kalmasın */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05); /* isteğe bağlı gölge efekti */
}

.dashboardSideBarImgDiv{
    width: 100%;
}

.dashboardSideBarImg{
    width: 50px;
    height: auto;
    margin-bottom: 50px;

}

.dashboardSideBarLinkDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.dashboardSideBarQuit{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid whitesmoke;
    width: 100%;
    margin-top: 30px;
}